{{ define "main" }}
    <header>
        <h3 class="section-title">Members</h3>
        <div class="section-card">
            <div class="section-details">
                <h3 class="section-count">{{ len .Data.Terms }} Members</h3>
                <h1 class="section-term">Roster</h1>
            </div>
        </div>
    </header>

    <section class="article-list--tile" style="margin-top: 2rem;">
        {{ range .Data.Terms.ByCount }}
            <article class="has-image">
                <a href="{{ .Page.Permalink }}">
                    <div class="article-image">
                        <img src="https://github.com/{{ .Page.Title }}.png" loading="lazy" data-key="" data-hash="">
                    </div>
                    <div class="article-details">
                        <h2 class="article-title">@{{ .Page.Title }}</h2>
                        <footer class="article-time">
                            {{ .Count }} Dispatch(es)
                        </footer>
                    </div>
                </a>
            </article>
        {{ end }}
    </section>

    {{ partialCached "footer/footer" . }}
{{ end }}
